*~
.*~
#*#
.#*
*.o
*.lo
*.la
*.tmp
._*
.DS_Store
.svn
.git
.rake_tasks
.emacs.desktop*
.fonts/Ricty*
.fonts/*.dir
.fonts/fonts.*
share
.zsh.d/projects.zsh
share/tc/mazegaki.dic
.emacs.d/bookmarks
.emacs.d/recentf
vendor/bundle
elpa
TAGS
__pycache__
